<div class="fondoo w-full h-full flex justify-center items-center">


	<div class="hidden mangoface">
		<img src="./media/mangototo.png" alt="" class=" absolute top-0.5 z-2 animate-fade animate-once animate-duration-[2500ms] animate-ease-in">
	</div>
	<div class="hidden msg  absolute z-2 bg-yellow-200 border-2 border-black p-1">
		<p class="text-2xl text-green-700 text-bold animate-fade animate-once animate-duration-[2000ms] animate-ease-in">Gracias por poco, perdon por tan todo... era asi?? NO IMPORTA, FELIZ CUM! </p>
	</div>
	
	<div class="bot-shadow animatedd hidden animate-fade-up animate-once animate-duration-[2000ms] animate-ease-linear">
		<h1 class="text-4xl text-green-600 font-bold text-center">Feliz cumpleaños MONGUI!! 🎉🎂</h1>
		<img src="./media/mangort.png" alt="" class="">
		
	</div>
	<audio src="./media/sietemarzoyipiee.mp3" id="audio"></audio>
	<button class="block bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded absolute ">Haz click aqui! o no, puede que sea un screamer</a>

</div>

<script>
import "../js/script.js";
</script>

<style>
	body {
		background-image: url("./media/mangoo.png");
  background-size: cover;
  backdrop-filter: blur(5px);
	}
</style>
	