<div class="w-full h-full flex justify-center items-center">

	<button class="bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded absolute ">Haz click aqui!</a>
	<div class="">
		<img src="./media/450x450.svg" alt="" class="">
		
	</div>
	<audio src="./media/sietemarzoyipiee.mp3" id="audio"></audio>

</div>

<script>
	let button2 = document.querySelector('button');
	let musica2 = document.querySelector('#audio');
	button2.addEventListener('click', (e) => {
		e.preventDefault
		musica2.play();

		console.log("click"); 
		
	})
</script>

	